<div #container class="container">
    <h1 class="title">N.P.O.D</h1>
    <p class="text subtitle">Nasa Picture of the Day</p>

    <p class="text">
        Is an app developped by
        <a class="link" href="https://fr.linkedin.com/in/trebonlandry" target="blank">Landry Trebon</a>
        using the open API "APOD" of the NASA.
    </p>

    <p class="text">
        The NASA has an
        <a class="link" href="https://apod.nasa.gov/apod/astropix.html" target="blank">official website</a>
        to publish astronomy pictures every day.
    </p>

    <div class="text">
        The NASA shares freely a multitude of 
        <a class="link" href="https://api.nasa.gov/" target="blank">Open APIs</a>
        accessible for developpers.
    </div>
</div>