:host {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.menu {
    display: flex;
    height: 60px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 40px;
}

.link {
    color: var(--color-text-half);
    text-shadow: 0px 0px 5px var(--color-bg);
    text-decoration: none;
    margin-right: 30px;

    &:hover, &.active-link {
        color: var(--color-primary);
    }
}