@import url("https://fonts.googleapis.com/css?family=News+Cycle&display=swap");

body {
    --color-text:       rgb(255, 255, 255);
    --color-text-half:  rgba(255, 255, 255, 0.5);
    --color-bg:         rgb(23, 23, 23);
    --color-primary:    rgb(45, 218, 184);
    --color-secondary:  rgb(212, 7, 73);
}